/* MOBILE HEADER */
.header-mobile {
  display: none;
  align-items: center;
}
.header-mobile-svg {
  padding: 2.2rem 9.5rem 2.3rem 0;
}

.sidebar {
  width: 32px;
  height: 28px;
}
.sidebar-icon {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.sidebar-icon > div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  transition: transform 0.33s ease-out;
  width: 26px;
}
.piece {
  background-color: rgba(
    var(--lineColor, var(--color_2)),
    var(--alpha-lineColor, 1)
  );
  border-radius: 1.5px;
  height: 3.5px;
}
.piece-1 {
  transform-origin: right;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  width: 50%;
}
.piece-2 {
  border-radius: 1.5px;
  height: 4px;
  width: 100%;
}
.piece-3 {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  width: 50%;
}
/* SIDEBAR-MENU  */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 62.5%;
  background-color: rgb(34, 34, 34);
  z-index: 1000;
  right: -100%;
  transition: right 0.5s ease;
}

.menu-container {
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 2rem;
}
.menu-icon {
  margin-top: 2.9rem;
  padding-right: 0.7rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.menu-icon > div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  transition: transform 0.33s ease-out;
  width: 26px;
}
.menu-container-sidebar {
  display: flex;
  flex-direction: column;
}

.piece-menu-1 {
  transform-origin: right;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  width: 100%;
  transform: rotate(45deg) translateY(1.9rem) translateX(0.9rem);
}
.piece-menu-2 {
  width: 0;
  opacity: 0;
}
.piece-menu-3 {
  align-self: flex-end;
  transform-origin: left;
  transform: rotate(-45deg) translateX(0.1rem);
  width: 100%;
}
.header-mobile-nav-list {
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6rem;
  list-style: none;
  text-align: right;
}

.header-mobile-nav-list-item {
  font: var(--fnt, var(--font_1));
  font-size: 1.6rem;
}

.header-mobile-nav-list-item a {
  color: white;
  display: inline;
  position: absolute;
  line-height: 5rem;
  right: 2rem;
  width: 90%;
  text-decoration: none;
}
#navigation__text-active {
  color: rgb(var(--txts, var(--color_14)));
}
