.header {
  background-color: var(
    --screenwidth-corvid-background-color,
    rgba(var(--bg, var(--color_11)), var(--alpha-bg, 1))
  );
  border-bottom: var(--brwb, 0) solid
    var(
      --screenwidth-corvid-border-color,
      rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1))
    );
  border-top: var(--brwt, 0) solid
    var(
      --screenwidth-corvid-border-color,
      rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1))
    );
  box-shadow: var(--shd, 0 0 5px rgba(0, 0, 0, 0.5));
  transition: all 0.3s ease;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header-scrolled {
  background-color: rgba(
    var(--bg-scrl, var(--color_11)),
    var(--alpha-bg-scrl, 1)
  );
}

/* DESKTOP HEADER  */
.header__container {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}

.navigation__svg {
  position: relative;
  margin: 22px 0px 19px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}

.header__nav {
  position: relative;
  margin: 29px 0px 29px calc((100% - 980px) * 0.5);
  left: 526px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}

.navigation__nav {
  margin-left: 1rem;
  height: 100%;
  width: 100%;
}
.navigation__nav:last-child {
  /* margin-left: 0.5rem; */
}
.navigation__list {
  cursor: pointer;
  display: flex;
  align-items: center;
  list-style-type: none;
  font: var(--fnt, var(--font_1));
}

.navigation__item {
  padding: 0 var(--pad, 5px);
}
.navigation__item:nth-child(4) {
  margin-left: -1px;
}

.navigation__link {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.navigation__text {
  color: rgb(var(--txt, var(--color_15)));

  display: inline-block;
  padding: 0 1.94rem;
  transition: var(--trans, color 0.4s ease 0s);

  line-height: 2.6rem;
}
.navigation__text-active,
.navigation__text:hover {
  color: rgb(var(--txts, var(--color_14)));
}
