@media only screen and (max-width: 376px) {
  .header__container {
    display: none;
  }
  .header-mobile {
    display: flex;
    justify-content: space-around;
  }
  .header-mobile-link {
    padding: 2.15rem 9.55rem 2.2rem 0;
  }
  .section-title {
    min-width: 100%;
  }
  .title-background-image {
    margin-top: -3px;
    width: 100%;
    height: 25rem;
  }
  .section-title-text {
    margin: 5.2rem 2.4rem;
  }
  .title-text {
    font-size: 2.8rem;
  }
  .text-big {
    font-size: 2.8rem;
  }
  .text-small {
    font-size: 2.6rem;
  }
  .section-intro-container {
    margin: 3.6rem 2.4rem;
    width: auto;
  }
  .section-intro-text {
    line-height: 1;
  }
  .section-intro-text-span {
    font-size: 1.85rem;
  }
  .btn-discover {
    margin: 1.5rem 0rem 5rem 2.5rem;
  }
  /* COURSES SECTION */
  .courses-section {
    min-width: 100%;
  }
  .courses-section-container-header {
    margin: 2rem 0 2.6rem calc((100% - 320px) * 0.5);
  }
  .courses-section-container-header span {
    font-size: 2.8rem;
  }
  .courses-section-container-courses {
    position: relative;
    margin: 0;

    width: 100%;
  }
  .courses-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    grid-column-gap: 0;
    grid-row-gap: 2.5rem;
    margin-bottom: 6rem;
  }
  .courses-list-item {
    width: 88%;
  }
  .courses-list-item-image {
    width: 100%;
    height: auto;
  }

  .courses-list-item h5 {
    margin: 0 0 1rem 0;
  }
  .courses-list-item h5 span {
    font-size: 1.8rem;
  }
  .courses-list-item p {
    margin: 0 0 1.5rem 0;
  }
  .courses-list-item p span {
    font-size: 1.6rem;
  }
  .btn-course-details {
    margin: 0.5rem 0 3rem 0;
  }
  /* SECTION PARTNERS */
  .section-partners {
    min-width: auto;
  }
  .section-partners-container-header {
    width: 28rem;
    margin: 2.5rem 0 1.1rem 2.5rem;
  }
  .section-partners-container-header h3 span {
    font-size: 2.1rem;
  }
  .partners-btn-prev,
  .partners-btn-next {
    display: none;
  }

  .section-partners-container-items {
    grid-area: 2 / 1 / 3 / 2;
    place-self: center;
    position: relative;
  }

  .section-partners-slider {
    height: 32rem;
  }
  .slider-list {
    position: relative;
    list-style-type: none;
  }

  .slider-list-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 4rem 0 0 2.5rem;
    gap: 4rem;
  }
  .center {
    position: absolute;
    margin-left: 0;
  }

  .dots {
    position: absolute;
    bottom: 0.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dots__dot {
    margin-right: 1.5rem;
    height: 0.7rem;
    width: 0.7rem;
  }
  .usaid-img {
    width: 22rem;
    height: 6.5rem;
  }
  .space-img {
    width: 20rem;
    height: 6.5rem;
    margin-left: 0;
  }
  .tinet-img {
    width: 25rem;
    height: 4.5rem;
    margin-left: 0;
  }
  .tegeta-img {
    width: 18rem;
    height: 5.2rem;
  }
  .spectre-img {
    width: 13rem;
    height: 4.5rem;
    margin-left: 0;
  }
  .tbc-img {
    width: 22rem;
    height: 7rem;
    margin-left: 0;
  }
  .ufc-img {
    width: 22.7rem;
    height: auto;
    margin-top: 5rem;
    margin-left: 4rem;
  }
}
