/* SECTION INTRODUCTION */
.section-intro {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  background-color: rgb(43, 43, 43);
}
.section-intro-container {
  position: relative;
  margin: 56px 0px 43px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  width: 98rem;
}

.section-intro-text {
  font-family: wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;

  letter-spacing: normal;
  font: var(--font_0);
}
.section-intro-text-span {
  font-size: 2.8rem;
  line-height: 1.6em;
  color: #f4f4f4;
}
.btn-discover {
  width: 14.2rem;
  height: 4rem;
  position: relative;
  margin: 0px 0px 57px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
  --margin-start: 0px;
  --fnt: normal normal normal 20px/1.4em
      wfont_dd97f4_7737b5e7be24426aa35c9f4311c1de96,
    wf_7737b5e7be24426aa35c9f431, orig_tbc_sailec_bold;
}
.btn-discover-link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: var(--label-align);
  min-width: 100%;
  text-align: initial;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}

.btn-discover-span {
  color: rgb(var(--txts, var(--color_14)));
  font: var(--fnt, var(--font_5));
  margin-top: 0.7rem;
  transition: var(--trans, color 0.4s ease 0s);
}
.btn-discover-span:hover {
  color: var(--corvid-color, rgb(var(--color_12)));
}
