/* SECTION QUESTIONS */
.section-questions {
  background-color: #161616;
  height: auto;
}
.section-questions-container {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
  width: 90rem;
  padding: 3rem 4rem;
  margin-bottom: 5rem;
}
.section-questions-header {
  display: flex;
  justify-content: space-between;
  margin: 7.5rem 0 2rem 0;
}
.section-questions-header h2 {
  flex-shrink: 1;
  color: rgb(244, 244, 244);
  font: 24px / 1.2em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
}

.section-questions-header button {
  --fnt: normal normal normal 20px/1.4em
      wfont_dd97f4_7737b5e7be24426aa35c9f4311c1de96,
    wf_7737b5e7be24426aa35c;
  cursor: pointer;
  margin-right: 0.6rem;
}
.section-questions-header button span {
  font: normal normal normal 20px/1.4em
      wfont_dd97f4_7737b5e7be24426aa35c9f4311c1de96,
    wf_7737b5e7be24426aa35c9f431, orig_tbc_sailec_bold;
  transition: var(--trans, color 0.4s ease 0s);
}
.section-questions-header button img {
}

.button-container {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid rgb(53, 49, 49);
}

.section-questions-title button {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-items: start;
  min-height: 8.2rem;
  cursor: pointer;
}

.section-questions-title button h3 {
  font: 18px / 1.2em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  line-height: normal;
  color: rgb(244, 244, 244);
  margin: 0;
}
.arrowUp {
  transform: rotate(0deg);
}
.arrowDown {
  transform: rotate(180deg);
}

.section-questions-paragraph {
  font: 14px / 1.2em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  color: rgb(244, 244, 244);
  line-height: 2;

  max-height: 0;
  overflow: hidden;
  /* transition: max-height 0.3s ease; */
}
.show {
  max-height: 100rem;
}
.section-questions-paragraph-header {
  margin: 0.2rem;
}
.section-questions-paragraph-info {
  /* margin: 4rem 0.2rem 2.5rem 2.3rem; */
  margin: 0 0 3.05rem 0.2rem;
}
.steps-for-course {
  margin: 4rem 0.2rem 2.6rem 2.15rem;
}
.section-questions-paragraph-info p {
  padding: 0.2rem 0 0.3rem 0;
  line-height: 2;
}
.section-questions-paragraph-info p span {
  font-weight: 700;
}
.section-question-aditional-info {
  margin: 3.9rem 0 3.5rem 0.2rem;
}
