/* @import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt_bootstrap.c7f5f19a.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt_bootstrap-responsive.9ccc3fa4.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt_bootstrap-classic.a3137169.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt[HeaderContainer_AfterScroll].2b4c2174.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt[SkipToContentButton].39deac6a.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt[ClassicSection].78038a64.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt[SlideShowContainer].57652188.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt[SlideShowSlide].9456824f.min.css");
@import url("https://static.parastorage.com/services/wix-thunderbolt/dist/Repeater_FixedColumns.9abcda74.chunk.min.css");
@import "./fontsTbc.css";
@import "./styleTbc.css"; */

@import url("variables.css");
@import url("headerDesktop.css");
@import url("headerMobile.css");
@import url("courses.css");

:root {
  --arrowColor: 232, 230, 230;
}

* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
  overflow-y: scroll;
}
.site-container {
  background: transparent;
  position: relative;
}

/* main */

.main {
  position: static;
  display: grid;
  margin-top: 8.4rem;
  height: auto;
  width: 100%;
  min-height: 40px;
  grid-template-rows: repeat(4, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}
.section-title {
  --bg-overlay-color: rgb(43, 43, 43);
  min-width: 980px;
  left: 0;
  margin-left: 0;
  width: 100%;
}
.section-title-image {
  position: relative;
}
.title-background-image {
  width: 100%;
  height: 35.2rem;
  object-fit: cover;
  object-position: 50% 50%;
}
.wider-image {
  display: none;
}
.section-title-text-container {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 352px;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
}
.section-title-text {
  position: relative;
  margin: 96px 0px 10px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
.title-text {
  font-size: 4.2rem;
  line-height: 1.6em;

  /* font: var(--font_3); */
  color: rgb(244, 244, 244);
  letter-spacing: 0em;
}
.text-big {
  font-size: 4.2rem;
  font-family: wfont_643d94_f52303b2efea42e1b4aeed119e42672e,
    wf_f52303b2efea42e1b4aeed119, orig_tbc_x_black;
}
.text-small {
  font-size: 3.4rem;
  font-family: wfont_643d94_f52303b2efea42e1b4aeed119e42672e,
    wf_f52303b2efea42e1b4aeed119, orig_tbc_x_black;
}
.section-intro {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  background-color: rgb(43, 43, 43);
}
.section-intro-container {
  position: relative;
  margin: 56px 0px 43px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  width: 98rem;
}

.section-intro-text {
  font-family: wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;

  letter-spacing: normal;
  font: var(--font_0);
}
.section-intro-text-span {
  font-size: 2.8rem;
  line-height: 1.6em;
  color: #f4f4f4;
}
.btn-discover {
  width: 14.2rem;
  height: 4rem;
  position: relative;
  margin: 0px 0px 57px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
  --margin-start: 0px;
  --fnt: normal normal normal 20px/1.4em
      wfont_dd97f4_7737b5e7be24426aa35c9f4311c1de96,
    wf_7737b5e7be24426aa35c9f431, orig_tbc_sailec_bold;
}
.btn-discover-link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: var(--label-align);
  min-width: 100%;
  text-align: initial;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}

.btn-discover-span {
  color: rgb(var(--txts, var(--color_14)));
  font: var(--fnt, var(--font_5));
  margin-top: 0.7rem;
  transition: var(--trans, color 0.4s ease 0s);
}
.btn-discover-span:hover {
  color: var(--corvid-color, rgb(var(--color_12)));
}
/* SECTION-PARTNERS */
.section-partners {
  background-color: rgb(43, 43, 43);
  min-width: 980px;
}

.section-partners-container {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}
.section-partners-container-header {
  position: relative;
  margin: 34px 0px 31px calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  width: 450px;
  height: auto;
}
.section-partners-container-header h1 {
}
.section-partners-container-header h1 span {
  font: var(--font_3);
  font-size: 24px;
  color: rgb(244, 244, 244);
  letter-spacing: 0em;
}
.sectio-partners-container-items {
  position: relative;
  margin: 0px 0px 36px calc((100% - 980px) * 0.5);
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}

.section-partners-slider {
  height: 22.5rem;
}
.slider-list {
  position: relative;
  list-style-type: none;
}

.slider-list-item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 12rem; */
  margin-top: 6.5rem;

  opacity: 0;
  transition: opacity 1.3s;
}
.center {
  position: absolute;
  margin-left: 37.5rem;
}

.slider-list-item img {
  object-fit: cover;
  object-position: 50% 50%;
}
.partners-btn-prev {
  position: absolute;
  left: 6%;
}

.partners-btn-next {
  transform: scaleX(-1);
  position: absolute;
  right: 6%;
}
.partners-btn-next,
.partners-btn-prev {
  cursor: pointer;
  background-color: inherit;
  margin-top: 20rem;
  width: 1.8rem;
  z-index: 1;
  margin-top: 20rem;
  width: 1.8rem;
  z-index: 1;
}

.partners-btn-next:hover,
.partners-btn-prev:hover {
  opacity: 0.6;
}

.svg-partners {
  fill: rgba(var(--arrowColor, var(--color_12)), var(--alpha-arrowColor, 1));
  stroke: rgba(var(--arrowColor, var(--color_12)), var(--alpha-arrowColor, 1));
  stroke-width: 1px;
}

.dots {
  position: absolute;
  bottom: 3.1%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #fff;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  margin-right: 1.2rem;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 10;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #2c2323;
  opacity: 1;
}

/* IMAGE WIDTH AND HEIGHT */
.usaid-img {
  width: 24.6rem;
  height: 7.4rem;
}
.space-img {
  width: 24rem;
  height: 8rem;
  margin-left: 12.3rem;
}
.tinet-img {
  width: 25rem;
  height: 4.5rem;
  margin-left: 12rem;
}
.tegeta-img {
  width: 24.8rem;
  height: 7.1rem;
}
.spectre-img {
  width: 18.7rem;
  height: 6.4rem;
  margin-left: 14.8rem;
}
.tbc-img {
  width: 31.2rem;
  height: 9.5rem;
  margin-left: 8.7rem;
}
.ufc-img {
  width: 22.7rem;
  height: 6.4rem;
  margin-top: 2rem;
}

.d-flex {
  opacity: 1;
}

.d-none {
  opacity: 0;
  pointer-events: none; /* Optional: disable pointer events when hidden */
}

@media only screen and (max-width: 376px) {
  .header__container {
    display: none;
  }
  .header-mobile {
    display: flex;
    justify-content: space-around;
  }
  .header-mobile-link {
    padding: 2.15rem 9.55rem 2.2rem 0;
  }
  .section-title {
    min-width: 100%;
  }
  .title-background-image {
    margin-top: -3px;
    width: 100%;
    height: 25rem;
  }
  .section-title-text {
    margin: 5.2rem 2.4rem;
  }
  .title-text {
    font-size: 28px;
  }
  .text-big {
    font-size: 28px;
  }
  .text-small {
    font-size: 26px;
  }
  .section-intro-container {
    margin: 3.6rem 2.4rem;
    width: auto;
  }
  .section-intro-text {
    line-height: 1;
  }
  .section-intro-text-span {
    font-size: 18.5px;
  }
  .btn-discover {
    margin: 1.5rem 0rem 5rem 2.5rem;
  }
  /* COURSES SECTION */
  .courses-section {
    min-width: 100%;
  }
  .courses-section-container-header {
    margin: 20px 0px 26px calc((100% - 320px) * 0.5);
  }
  .courses-section-container-header span {
    font-size: 28px;
  }
  .courses-section-container-courses {
    position: relative;
    margin: 0;

    width: 100%;
  }
  .courses-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    grid-column-gap: 0;
    grid-row-gap: 2.5rem;
  }
  .courses-list-item {
    width: 88%;
  }
  .courses-list-item-image {
    width: 100%;
    height: auto;
  }
  .courses-list-item {
    /* margin: 0px 0px 10px 0; */
  }
  .courses-list-item h5 {
    margin: 0 0 1rem 0;
  }
  .courses-list-item h5 span {
    font-size: 1.8rem;
  }
  .courses-list-item p {
    margin: 0 0 1.5rem 0;
  }
  .courses-list-item p span {
    font-size: 1.6rem;
  }
  .btn-course-details {
    margin: 0.5rem 0 3rem 0;
  }
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1599px) {
  .section-intro {
    margin-top: -0.3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .btn-discover-span {
    margin-top: 0.6rem;
  }

  .wider-image {
    display: block;
  }

  .initial-image {
    display: none;
  }
}
