@import "../../node_modules/normalize.css/normalize.css";

@import url("tbc.css/variables.css");
@import url("headerDesktop.css");
@import url("headerMobile.css");
@import url("section-title.css");
@import url("section-intro.css");
@import url("section-courses.css");
@import url("section-partners.css");
@import url("section-questions.css");
@import url("footer.css");

* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: transparent;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
  overflow-y: scroll;
}
.site-container {
  background: transparent;
  position: relative;
}

/* main */

.main {
  position: static;
  display: grid;
  margin-top: 8.4rem;
  height: auto;
  width: 100%;
  min-height: 40px;
  grid-template-rows: repeat(4, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.displayed {
  opacity: 1;
}

.notDisplayed {
  opacity: 0;
  pointer-events: none;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1599px) {
  .section-intro {
    margin-top: -0.3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .btn-discover-span {
    margin-top: 0.6rem;
  }

  .wider-image {
    display: block;
  }

  .initial-image {
    display: none;
  }
}
