/* @import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt_bootstrap.c7f5f19a.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt_bootstrap-responsive.9ccc3fa4.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt_bootstrap-classic.a3137169.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt[HeaderContainer_AfterScroll].2b4c2174.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt[SkipToContentButton].39deac6a.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt[ClassicSection].78038a64.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt[SlideShowContainer].57652188.min.css");
@import url("https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/rb_wixui.thunderbolt[SlideShowSlide].9456824f.min.css");
@import url("https://static.parastorage.com/services/wix-thunderbolt/dist/Repeater_FixedColumns.9abcda74.chunk.min.css");
@import "./fontsTbc.css";
@import "./styleTbc.css"; */
@import "../../node_modules/normalize.css/normalize.css";

@import url("variables.css");
@import url("headerDesktop.css");
@import url("headerMobile.css");
@import url("section-title.css");
@import url("section-courses.css");
@import url("section-partners.css");

:root {
  --arrowColor: 232, 230, 230;
}

* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  background-color: transparent;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
  overflow-y: scroll;
}
.site-container {
  background: transparent;
  position: relative;
}

/* main */

.main {
  position: static;
  display: grid;
  margin-top: 8.4rem;
  height: auto;
  width: 100%;
  min-height: 40px;
  grid-template-rows: repeat(4, min-content) 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.displayed {
  opacity: 1;
}

.notDisplayed {
  opacity: 0;
  pointer-events: none;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}

/* SECTION QUESTIONS */
.section-questions {
  background-color: #161616;
  height: auto;
}
.section-questions-container {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 0px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
  width: 90rem;
  padding: 3rem 4rem;
  margin-bottom: 5rem;
}
.section-questions-header {
  display: flex;
  justify-content: space-between;
  margin: 7.5rem 0 2rem 0;
}
.section-questions-header h2 {
  flex-shrink: 1;
  color: rgb(244, 244, 244);
  font: 24px / 1.2em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
}

.section-questions-header button {
  --fnt: normal normal normal 20px/1.4em
      wfont_dd97f4_7737b5e7be24426aa35c9f4311c1de96,
    wf_7737b5e7be24426aa35c;
  cursor: pointer;
  margin-right: 0.6rem;
}
.section-questions-header button span {
  font: normal normal normal 20px/1.4em
      wfont_dd97f4_7737b5e7be24426aa35c9f4311c1de96,
    wf_7737b5e7be24426aa35c9f431, orig_tbc_sailec_bold;
  transition: var(--trans, color 0.4s ease 0s);
}
.section-questions-header button img {
}
/* QUESTIONS */
.section-questions-title {
}
.button-container {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid rgb(53, 49, 49);
}

.section-questions-title button {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-items: start;
  min-height: 8.2rem;
  cursor: pointer;
}

.section-questions-title button h3 {
  font: 18px / 1.2em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  line-height: normal;
  color: rgb(244, 244, 244);
  margin: 0;
}
.arrowUp {
  transform: rotate(0deg);
}
.arrowDown {
  transform: rotate(180deg);
}

.section-questions-paragraph {
  font: 14px / 1.2em wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  color: rgb(244, 244, 244);
  line-height: 2;

  max-height: 0;
  overflow: hidden;
  /* transition: max-height 0.3s ease; */
}
.show {
  max-height: 100rem;
}
.section-questions-paragraph-header {
  margin: 0.2rem;
}
.section-questions-paragraph-info {
  /* margin: 4rem 0.2rem 2.5rem 2.3rem; */
  margin: 0 0 3.05rem 0.2rem;
}
.steps-for-course {
  margin: 4rem 0.2rem 2.6rem 2.15rem;
}
.section-questions-paragraph-info p {
  padding: 0.2rem 0 0.3rem 0;
  line-height: 2;
}
.section-questions-paragraph-info p span {
  font-weight: 700;
}
.section-question-aditional-info {
  margin: 3.9rem 0 3.5rem 0.2rem;
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1599px) {
  .section-intro {
    margin-top: -0.3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .btn-discover-span {
    margin-top: 0.6rem;
  }

  .wider-image {
    display: block;
  }

  .initial-image {
    display: none;
  }
}
